## Choosing mnemonic variable names
- The below three paragraphs of codes are *exactly the same* to Python 
- but humans see and understand these programs quite diﬀerently.

In [1]:
a = 35.0 
b = 12.50 
c = a * b 
print(c)

hours = 35.0 
rate = 12.50 
pay = hours * rate 
print(pay)

x1q3z9ahd = 35.0 
x1q3z9afd = 12.50 
x1q3p9afd = x1q3z9ahd * x1q3z9afd 
print(x1q3p9afd)

437.5
437.5
437.5

## Numeric expressions

In [ ]:
xx = 2
xx = xx+2
print (xx)

yy = 440*12
print(yy)

zz = yy/1000
print(zz)

jj = 23
kk = jj%5
print(kk)

print(4**3) # 4*4*4

## Data types
- “+” means “addition” if something is a number and “concatenate” if something is a string

In [2]:
ddd = 1+4
print(ddd)

eee = 'hello '+'there'
print(eee)

5
hello there

- you cannot “add 1” to a string
- We can ask what type something is by using type() function

In [ ]:
eee = 'hello '+'there'
eee = eee+1

In [ ]:
type(eee)

In [ ]:
type('hello')

In [ ]:
type(1)

- When you put an integer and floating point in an expression, the integer is implicitly converted to a float

In [ ]:
x = 100 + 1.0
print(x)

In [ ]:
print(100+float(1))

In [ ]:
i = 42
type(i)

In [ ]:
f = float(i)
print(f)
type(f)

In [3]:
j = 5.9
k = int(j)
print(k)
type(k)

5

int

## integer division

In [ ]:
print(10/2)

In [ ]:
print(9/2)

In [ ]:
print(99/100)

In [ ]:
print(10.0/2.0)

## String conversions

In [ ]:
sval = '123'
type(sval)

In [ ]:
print(sval+1)

In [ ]:
ival = int(sval)
type(ival)

In [ ]:
print(ival+1)

In [ ]:
nsv = 'hello world'
niv = int(nsv)

## User Input

In [4]:
name = input('Who are u?')
print('Welcome', name)

Who are u?Tony Stark
Welcome Tony Stark

## Converting User Input

In [ ]:
# convert elevator floors
inp = input('Europe floor?')
usf = int(inp)+1
print('US Floor', usf)